.emacs.d/abbrev_defs
.emacs.d/backups/
.emacs.d/custom.el
.emacs.d/el-get/
.emacs.d/smex-items
.emacs.d/url/
nvim/dot-config/nvim/lazy-lock.json
nvim/dot-config/nvim/lazyvim.json
nvim/dot-config/nvim/lazy
nvim/dot-config/nvim/mason
tmux/dot-config/tmux/plugins
nvim/dot-config/nvim/telescope_history
nvim/dot-config/nvim/.netrwhist
zsh/dot-config/zsh/.zcompdump-*
zsh/dot-config/zsh/.zsh_history
zsh/dot-config/zsh/env-specific
zsh/dot-config/zsh/oh-my-zsh
lazygit/dot-config/lazygit/state.yml
