* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 15px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;

  color: #cdd6f4;
  background-color: #181824;
}

#waybar {
  color: #c6d0f5;
}

#workspaces {
  border-radius: 5px;
  margin-left: 1rem;
}

#workspaces button {
  color: #babbf1;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #99d1db;
}

#workspaces button:hover {
  color: #85c1dc;
}

#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#window,
#language,
#custom-power {
  padding: 0.5rem 1rem;
}

#clock {
  color: #8caaee;
  margin-right: 1rem;
}

#pulseaudio {
  color: #ea999c;
  margin-left: 1rem;
}

#custom-lock {
  color: #babbf1;
}

#custom-power {
  margin-right: 1rem;
  color: #e78284;
}
